.App {
  box-sizing: border-box;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  outline: none;
  width: 180px;
}

.Canvas {
  /*display: flex;*/
  /*align-items: flex-end;*/
  /*justify-content: center;*/
  background-color: #F5F5F5;
  height: 100vh;
  position: relative;
  z-index: 0;
}

.CommentButton {
  width: 40px;
  z-index: 10;
  position: absolute;
  bottom: 90px;
  right: 50%;
  cursor: url("./images/cursor.png"), auto;
}

.Comment {
  position: absolute;
  display: flex;
  align-items: flex-start;
}

.BlueCircle {
  /*background-color: #2B2B2B;*/
  /*width: 40px;*/
  /*height: 40px;*/
  margin-right: 20px;
  /*filter: drop-shadow(0 0 2px #2B2B2B);*/
  display: flex;
  justify-content: left;
  /*align-items: center;*/
  transition: all 0.2s;
  /*border-radius: 0 50% 50% 50%;*/
  overflow: hidden;
  font-size: 0.8rem;
  transform: rotatex(180deg);
  transform-origin: top;
  margin-top: 40px;

}

/*.BlueCircle:hover {*/
/*  !*width: 200px;*!*/
/*  !*height: auto;*!*/
/*  !*border-radius: 0 18px 18px 18px !important;*!*/
/*  !*align-items: flex-start;*!*/
/*  !*padding: 10px;*!*/
/*}*/

.UserPhoto {
  width: 30px;
  border-radius: 50%;
  margin-left: 5px;
  transform: rotatex(180deg);
  transition: opacity 0.3s;
}

.CommentPreviewDataContainer {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
  transform: rotatex(180deg);
}

.NameAndDateContainer {
  display: flex;
}

.UserName {
  font-weight: 500;
  margin: 0 5px 0 0;
}

.PostDate {
  opacity: 80%;
  margin: 0;
}

.InitialComment {
  margin: 0;
}

.CommentsContainer {
  display: flex;
  flex-direction: column;
  /*transition: opacity 0.3s;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}

.CommentInputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2B2B2B;
  filter: drop-shadow(0 0 3px #343434);
  border-radius: 7px;
  padding: 0 15px;
}

.Input {
  margin: 12px 0;
  background-color: transparent;
  outline: none;
  color: white;
  font-weight: 500;
}

.PostButton {
  width: 22px;
  filter: invert(50%);
  /*margin-right: 8px;*/
}

.UserCommentAndMenuContainer {
  display: flex;
  margin-bottom: 10px;
  position: relative;
}

.UserCommentContainer {
  background-color: #2B2B2B;
  filter: drop-shadow(0 0 3px #343434);
  border-radius: 7px;
  padding: 15px;
  /*line-height: 0.7rem;*/
  font-size: 0.85rem;
  /*display: flex;*/
  color: white;
  width: 100%;
  max-width: 400px;
}

.CommentDataAndMenuContainer {
  display: flex;
  justify-content: space-between;
}

.CommentDataContainer {
  color: white;
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.UserPhotoComment {
  width: 25px;
  border-radius: 50%;
}

.UserNameComment {
  margin: 0 7px;
  font-weight: 600;
}

.UserComment {
  margin-left: 32px;
  font-weight: 500;
  margin-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 40px;
}

.UserCommentMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /*margin-left: 6px;*/
  position: absolute;
}

.UserCommentButton {
  background-color: #2B2B2B;
  filter: drop-shadow(0 0 3px #343434);
  border-radius: 7px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ReplyIcon {
  filter: invert(100%);
  width: 14px;
  opacity: 70%;
}

.EditIcon {
  filter: invert(100%);
  width: 20px;
  opacity: 80%;
}

.DeleteIcon {
  filter: invert(100%);
  width: 19px;
  opacity: 80%;
}

/*.ReplyIndentation {*/
/*  background-color: #2B2B2B;*/
/*  margin: 0 9px;*/
/*  width: 2px;*/
/*  position: absolute;*/
/*  top: -15px;*/
/*  left: -29px;*/
/*  !*filter: drop-shadow(0 0 3px #343434);*!*/
/*}*/

.EditInput {
  margin-left: 32px;
  margin-bottom: 2px;
  font-size: 0.85rem;
  font-weight: 500;
}